<div class="container">
  <h2>Category Table</h2>
  <p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p>
  <a type="button" class="btn btn-success" routerLink="/category/create">Create</a>
  <table class="table">
    <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let category of categories; index as i">
      <td>{{i + 1}}</td>
      <td>{{category.name}}</td>
      <td>
        <a type="button" class="btn btn-warning" [routerLink]="['/category/edit',category.id]">Edit</a>
        <a type="button" class="btn btn-danger" [routerLink]="['/category/delete',category.id]">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>

